body{
    background-color: #e2d7aa;
}
nav{
    text-align-last: center;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
nav li{
    /* float: left; */
    display: inline-block;
}
nav li a{
    display: block;
    color: rgb(14, 13, 13);
    text-align: center;
    padding: 10px 10px;
    margin-left:10px;
    font-size: 20px;
    text-decoration: none;
}
h1{
    text-align: center;
    font-family:monospace;
}


.parent {
    width: 100px;
}
   
img {
    display: block;
    width: 100%;
    height: auto;
}
img {
    display: block;
    width: 1000px;
    height: auto;
    margin: 0 auto;
}