
@{
    ViewBag.Title = "DetailsMusic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bài hát</h2>

<audio controls>
    <source src="~/Content/seetinh.mp3" type="audio/mp3">
    <source src="~/Content/seetinh.mp3" type="audio/mpeg">
</audio>

<p>@Html.ActionLink("Tải về", "Download")</p>
