<h2> Làm bài 1 </h2>
@{
    var message = "In ra các số nguyên tố từ 1-100";
    var message1 = "In ra giai thừa từ 1-10";
    var message2 = "In ra bảng cửu chương từ 2-9";
}
<h3> @message </h3>
@{
    bool isPrime = true;
    for (int i = 2; i <= 100; i++)
    {
        isPrime = true;
        for (int j = 2; j < i; j++)
        {
            if (i % j == 0)
            {
                isPrime = false;
                break;
            }
        }
        if (isPrime)
        {
            @i
            <br />
        }
    }
}
<h3> @message1 </h3>
@{
    for (var i = 1; i <= 10; i++)
    {
        var value = 1;
        if (i == 1)
        {
            <li>Giai thừa của @i : 1</li>
        }
        else
        {
            for (var j = 1; j <= i; j++)
            {
                value = value * j;
            }
            <li>Giai thừa của @i: @value</li>
        }

    }
}
<h3> @message2 </h3>
@{
    for (var i = 2; i < 10; i++)
    {
        var value = 1;
        for (var j = 1; j <= 10; j++)
        {
            value = i * j;
            <li>@i x @j = @value  </li>
        }
        <br />
    }
}