* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	width: 100%;
    height: 100%;
}

/* begin header */
#header {
    background-color: #000;
    height: 60px;
}
#logo {
    margin-left: 150px;
    width: 100px;
    height: 50px;
}
#logo2 {
    margin-left: 120px;
    width: 150px;
    height: 50px;
}
#nav{
	float: right;
	margin-right: 200px;
}
#nav ul {
	list-style-type: none;
	float: left;
	overflow: hidden;
}
#nav ul li{
	float: left;
}
#nav li a{
	display: block;
    text-align: center;
    padding: 20px 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
#nav ul li a:hover,#nav ul li a.active{
	color: #229118;
	background-color: white;
    font-weight: bold;
}
/* end header */

/* begin main */
h1{
    margin: 30px 0 30px 250px;
}
.title-main{
    margin-left: 250px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 250px;
}
.other-title{
    margin: 20px 250px 20px 250px;
    font-size: 18px;
    font-weight: bold;
}
.infomation{
    margin-left: 250px;
    margin-right: 250px;
    font-size: 18px;
}
.image{
    text-align: center;
}
.image img {
    margin-top: 20px;
    width: 700px;
    height: 480px;
}
.image figcaption{
    margin-bottom: 20px;
    font-size: 18px;
    font-style: italic;
}
/* end main */

/* begin footer */
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer{
    border-top: 1px solid black;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 10px;
}
.footer .noi-dung{
    margin-right: 30px;
}
.footer .noi-dung.about{
    width:40%;
}
.footer .noi-dung.about h2{
    margin-top: 10px;
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.follow-us  ul {
    display: flex;
    text-align: right;
}
.follow-us  li {
    display: inline;
    margin-right: 1px;
}
.follow-us  li a {
    display: inline-block;
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 10px;
     text-decoration: none;
     border-radius: 4px;
}
.facebook a {
    background-color: #3498db;
}
.google-plus a {
    background-color: #e74c3c;
}
.twitter a {
    background-color: #2c3e50;
}
.linkedin a {
    background-color: #3498db;
}
.links h2{
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
}

.links h2{
    margin-top: 10px;
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.links{
   position: relative;
   width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.contact h2{
    margin-top: 10px;
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: black;
}
.contact .info li a{
    color: black;
    text-decoration: none;
}
/* end footer */