
@{
    ViewBag.Title = "About";
}

<h2>Giới thiệu về ASP.NET MVC</h2>

<p>
    MVC là một mẫu kiến trúc phần mềm để tạo lập giao diện người dùng trên máy tính.
    MVC chia một ứng dụng thành ba phần tương tác được với nhau để tách biệt giữa cách thức
    mà thông tin được xử lý nội hàm và phần thông tin được trình bày và tiếp nhận từ phía người dùng
</p>

